body
{
border-radius:1.6190476417541504px;
width:5.6666669845581055px;
height:3.5416667461395264px;
background-color:#999898;
border:0px solid #969696;
top:4.25px;
left:5.66px;
position:absolute;
box-shadow:0px 1.6190476417541504px 0px rgba(191, 255, 102, 1);
}